In [1]:
import pandas as pd
import numpy as np

#### Question 1: Version of Pandas

In [3]:
pd.__version__

'2.0.3'

#### Question 2: Number of columns in the dataset

In [4]:
df = pd.read_csv('housing.csv')

In [5]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [9]:
len(df.columns)

10

#### Question 3: Select columns with missing data

In [10]:
[col for col in df.columns if df[col].isnull().any()]

['total_bedrooms']

#### Question 4: Number of unique values in the 'ocean_proximity' column

In [13]:
df['ocean_proximity'].nunique()

5

In [30]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

#### Question 5: Average value of the 'median_house_value' for the houses near the bay

In [24]:
df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()

259212.31179039303

#### Question 6: Has the mean value changed after filling missing values?

Calculate the average of total_bedrooms column in the dataset.
Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
Now, calculate the average of total_bedrooms again.

Has it changed?

Hint: take into account only 3 digits after the decimal point.

Yes
No

In [26]:
tb_mean = df['total_bedrooms'].mean()

In [27]:
tb_mean

537.8705525375618

In [29]:
df['total_bedrooms'].fillna(tb_mean).mean()

537.8705525375617

#### Questions 7: Value of the last element of w

Select all the options located on islands.

Select only columns housing_median_age, total_rooms, total_bedrooms.

Get the underlying NumPy array. Let's call it X.

Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

Compute the inverse of XTX.

Create an array y with values [950, 1300, 800, 1000, 1300].

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the last element of w?

Note: You just implemented linear regression. We'll talk about it in the next lesson.

In [52]:
rr_df = df[df['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [53]:
X = rr_df.values

In [54]:
XTX = X.T.dot(X)
XTX

array([[9.6820000e+03, 3.5105300e+05, 9.1357000e+04],
       [3.5105300e+05, 1.4399307e+07, 3.7720360e+06],
       [9.1357000e+04, 3.7720360e+06, 9.9835800e+05]])

In [55]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [56]:
y = np.array([950, 1300, 800, 1000, 1300])

In [59]:
XTXiXT = XTX_inv.dot(X.T)
w = XTXiXT.dot(y)
print(w)
print(w[-1])

[23.12330961 -1.48124183  5.69922946]
5.699229455065594